@charset "UTF-8";



/* @FONT FACE (enable the use of 'custom fonts' inside your document) */

/* 
  You can use 'fontsquirrel' (https://www.fontsquirrel.com) 
  or 'transfonter' (https://transfonter.org)
  to generate your own font for the web from .ttf or .oft files 
*/
/* 
@font-face {
  font-family: 'Your Font Name';
  src: url('../fonts/yourfontname/yourfontname-roman.woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Your Font Name';
  src: url('../fonts/yourfontname/yourfontname-italic.woff2');
  font-weight: normal;
  font-style: bold;
  font-display: block;
} */



/* VARIABLES */

:root {
  /* Color values */
  --color-background: rgba(255, 255, 255, 1);
  --color-text: rgba(0, 0, 0, 1);
  --color-text-link: rgba(0, 0, 255, 0.8);
  --color-text-link-hover: rgba(0, 0, 255, 0.4);
  /* Font values */
  --font-family: 'Your Font Name', 'Helvetica', 'Arial', sans-serif;
  --font-size: 24px;
  /* Margin value */
  --margin: 1rem;
}

/* GENERAL STYLES */

html {
  font: var(--font-size) var(--font-family);
  color: var(--color-text);
  background-color: var(--color-background);
}

body {
  position: relative;
  background-color: var(--color-background);
  font: var(--font-size) var(--font-family);
  color: var(--color-text);
  width: 100%;
  height: auto;
  overflow-y: auto;
}

a {
  color: var(--color-text-link);
  text-decoration: underline;
}

a:hover {
  color: var(--color-text-link-hover);
  text-decoration: underline;
}

.lightbox-window {
  position: fixed;
  background-color: rgba(50, 50, 50, 0.95);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  &:target {
    visibility: visible;
    opacity: 30;
    pointer-events: auto;
  }
  & > div {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: white;
  }
}

.lightbox-close {
  color: #aaa;
  line-height: 50px;
  font-size: 70%;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 0;
  width: 80px;
  text-decoration: none;
  /* &:hover {
    color: black;
  } */
}

.btn {
  color: #000;
  background: white;
  line-height: 50px;
  margin: 100px auto 0 auto;
  width: 220px;
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  &:hover {
    color: blue;
  }
}

header {
  position: absolute;
  top: 35px;
  width: 30px;
  right: 0px;
  margin-right: 40px;
}

.chapter-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 4 auto;

}

.chapter-container>* {
  flex: 2;
  /* Make both containers grow to fill available space equally */
}

.chapter-container .chapter-content-text {
  flex-grow: 3;
  /* Each chapter will take up equal space */
  margin: 5px;
  /* Add margin for better spacing between chapters */
  background-color: white;
  /* Example background color */
  border: 1px solid #ccc;
  /* Example border */
  padding: 5px;
  /* Example padding */
}

.chapter-content-text {
  text-align: left;
  width: 2000px;

}

.content {
  font-size: 66px;
  cursor: pointer;
  color: grey;
}



.reference-left {
  position: relative;
  width: 40%;
  text-align: left;
  padding-left: 20px;
  padding-right: 10px;
  font-size: 10px;
  font-family: Helvetica, Arial, sans-serif;
}

.chapter-content-image {
  position: sticky;
  display: block;
  /* width: 1000px; */
  top: 80px;
  align-self: flex-start;
  padding-left: 20px;
}

.title {
  font-size: 62px;
  padding-left: 10px;
  font-family: Nimbussanl bol, sans-serif;
  color: gainsboro;
  margin-bottom: 10px;
  text-align: left;
  cursor: auto;
}


h1 {
  position: sticky;
  display: block;
  top: 0;
  z-index: 10;
  background-color: whitesmoke;
  transition: background-color 8s ease;
  text-align: left;
  letter-spacing: -1px;
  margin: 1px;
  color: gainsboro;
  cursor: default;
  font-size: 30px;
  font-family: Nimbussanl bol, sans-serif;
  text-align: center;
}

sup {
  color: darkblue;
  opacity: 90px;
}

h2 {
  color: none;
}

h3 {
  color: none;
  /* h3 style */
}

h4,
h5,
h6 {
  color: none;
  /* h4-h5-h6 style */
}

p {
  display: block;
  cursor: default;
  width: 100%;
  text-align: left;
  line-height: 1.3;
  font-weight: normal;
  font-family: Nimbussanl bol, sans-serif;
  font-size: 19px;
  word-break: keep-all;
  color: black;
}

ul {
  position: fixed;
  line-height: 30px;
  display: block;
  right: 40px;
  list-style: none;
  text-align: right;
  /* ordered list and unordered list styles */
}

a,
a:visited,
a:hover {
  /* color: var(--color-text-link-hover); */
  color: gainsboro;
  text-decoration: none;

}

a:hover {
  color: grey;
  text-decoration: underline black 1.5px;

}

blockquote {
  color: none;
  font-size: 24px;
  font-family: Nimbussanl bol, sans-serif;
  text-align: left;
  /* lockquote element style */
}

.draggable {
  color: darkblue;
  cursor: move;
}

hr {
  color: none;
  /* horizontal rule style */
}

.my-grid-container {
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  gap: 2rem;
  margin: 20px;
  padding: 10px;
}

.my-grid-container>.book-image-1 {
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
  width: 100%;
  object-fit: contain;
  height: 342px;
  grid-row: 1;
  margin-right: -16px;
  place-self: end;
}

.my-grid-container>.book-image-2 {
  grid-column: 1 / span 5;
  grid-row: 1 / span 1;
  height: 250px;
  width: 100%;
  object-fit: contain;
  place-self: end;
}

.my-grid-container>.book-image-3 {
  grid-column: 3 / span 3;
  grid-row: 1 / span 1;
  width: 100%;
  object-fit: contain;
  height: 342px;
  grid-row: 1;
  margin-right: 44px;
  place-self: end;
}


figcaption {
  display: block;
  cursor: default;
  text-align: center;
  font-family: Nimbussanl bol, sans-serif;
  font-size: 15px;
}

/* PAGE STYLES */

/* page structure */

div.page-wrapper {
  /* the element that 'wraps' everything */
  padding: var(--margin);
}

/* navigation */

nav {
  background-color: rgb(255, 255, 255);
  top: 10px;
}

/* content */

main {
  background-color: none;
}

summary {
  list-style: none;

}

hr.line {
  border: 2px solid gainsboro;
}

hr.line_1 {
  border: 1px solid gainsboro;
  width: 1300px;
  left: 200px;
}

a.button {
  position: fixed;
  font-size: 70px;
  bottom: -30px;
  right: 20px;
  padding: 0.4em;
  margin: 0;
  border: none;
  text-decoration: none;
  cursor: pointer;
  color: grey;
  background-color: transparent;
  scroll-behavior: smooth;
}

#main {
  transition: margin-right .10s;
  right: 21px;
  top: 1px;
  position: relative;
  width: auto;
  text-align: right;
}

.sidenav {
  position: fixed;
  height: 100%;
  width: 150px;
  width: 0;
  z-index: 10;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 140px;
}

.sidenav a {
  padding: 2px 1px 10px 40px;
  text-decoration: none;
  font-family: Nimbussanl bol, sans-serif;
  font-size: 15px;
  right: 20px;
  color: #818181;
  display: block;
  transition: 0.4s;
}

.sidenav a:hover {
  text-decoration: underline;
}

.sidenav .closebtn {
  position: relative;
  top: -7px;
  left: -9px;
  cursor: pointer;
  font-size: 47px;
  margin-left: 5px;
}

ul.menulist {
  position: relative;
  top: -103px;
}



/* UTILITY CLASSES */

/* hide desktop mobile etc */

.desktop-only {
  display: block;
}

.mobile-only {
  display: none;
}



/* WEBSITE MEDIA QUERIES */

/* styles for 'mobile', screen sizes up to 779px, should covers 'mobile' and 'tablet' */
/* style this one first and then use the subsequent ones in a cascading way (from general to specific) */

@media (max-width: 779px) {


  /* your 'mobile' overriding css properties here */
  .title {
    font-size: 22px;
    font-family: Nimbussanl bol, sans-serif;
    color: gainsboro;
    text-align: left;
    margin: 8px;
  }


  blockquote {
    font: 20px Nimbussanl bol, sans-serif;
  }

  .page-wrapper {
    width: 99vw !important;
  }

  .chapter-content-text {
    min-width: 80% !important;
    background-color: none;
  }

  .chapter-container>* {
    flex: 2;
    /* Make both containers grow to fill available space equally */
  }

  #main {
    transition: margin-right .5s;
    top: -30px;
    right: -429px;
    position: relative;
    width: auto;
    text-align: right;
  }

  .sidenav .closebtn {
    position: relative;
    top: -15px;
    left: 9px;
    cursor: pointer;
    font-size: 47px;
    margin-left: 5px;
  }

  a.button {
    position: fixed;
    font-size: 70px;
    bottom: -30px;
    right: 33px;
    padding: 0.4em;
    margin: 0;
    border: none;
    text-decoration: none;
    cursor: pointer;
    color: grey;
    background-color: transparent;
    scroll-behavior: smooth;
  }

  .my-grid-container>.book-image-1 {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    width: 100%;
    object-fit: contain;
    height: 252px;
    grid-row: 1;
    margin-right: 4px;
    place-self: end;
  }

  .my-grid-container>.book-image-2 {
    grid-column: 1 / span 5;
    grid-row: 1 / span 1;
    height: 200px;
    width: 100%;
    object-fit: contain;
    place-self: end;
  }

  .my-grid-container>.book-image-3 {
    grid-column: 3 / span 3;
    grid-row: 1 / span 1;
    width: 100%;
    object-fit: contain;
    height: 242px;
    grid-row: 1;
    margin-right: -20px;
    place-self: end;
  }

  p {
    display: block;
    width: 100%;
    text-align: left;
    line-height: 1.3;
    font-weight: normal;
    font-size: 19px;
    font-family: Nimbussanl bol, sans-serif;
    color: black;
    word-break: break-word;
    hyphens: auto;
    /* paragraph style */
  }

  .chapter-content-image {
    width: 10%;
  }



  /* utility classes, mobile */

  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }

  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }

}



/* use this query to apply style changes to smaller smartphones sizes (like an iPhone 5S or SE 2016), max size of 339px */

@media (max-width: 339px) {



  /* your overriding css properties here */

}



/* use this query to apply style changes for 'mobile' screen sizes that are flipped in 'landscape' mode */

@media (max-width: 779px) and (orientation: landscape) {



  /* your overriding css properties here */

}



/* use this query to apply style for 'small' desktop screens */

@media (min-width: 780px) and (max-width: 992px) {

  /* your overriding css properties here */

}